packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []
    postgresql-devel: []
    postgresql: []
    # Additional dependencies for ML libraries
    atlas-devel: []
    blas-devel: []
    lapack-devel: []
    python3-devel: []

commands:
  01_upgrade_pip:
    command: "/var/app/venv/*/bin/pip install --upgrade pip setuptools wheel"
    ignoreErrors: false
